.backGround {
    margin: 0;
	padding: 0;
	top:0;
    left:0;
	background: url("../images/background/pageBackground.jpg");
	background-size: auto 100%;
	width: 100%;
	min-height: 180vh;
	z-index: -1;
	display:flex; 
	justify-content:center; 
}