.mainBlock {
    width: 600px;
    height: 200px;
    text-align: center;
}

.pageTitle {
    display: block;
    font-family: 'Kaushan Script', cursive;
    margin:10px;
    font-size:60px;
    font-weight: 700;
}

.getWeatherButton {
    margin: 10px
}