.reportCard {
    position: fixed;
    left: 0;
    right: 0;
	top: 10%;
	padding: 0;
	margin: auto;
    width: 60%;    
	height: auto;
}  

.headerBlock {
	background:url('../images/background/headerBackground.jpg') no-repeat;
	background-size: 100% 100%;
	border-radius:20px 20px 0 0;
	box-shadow: 10px 10px 10px #33316f82;
	margin: 0;
	height: 200px;
}

.headerBlock_part {
	position: relative;
}

.headerTitle {
	position: absolute;
	width: 160px;
    height: 70px;
	left: 0;
	right: 0;
	top:0;
	bottom: 0;
	margin: auto;
	font-size:50px;
	font-weight: 500;
	color:#ffffff96;
}

.headerInfo {
	position: absolute;
	width: 100px;
    height: 100px;
	left: 0;
	right: 0;
	top:0;
	bottom: 0;
	margin: auto;
}

.contentBlock {
	background-color:#ffffff;
	box-shadow: 10px 10px 10px #33316f82;
	border-radius:0 0 20px 20px;
	margin: 0;
	height: 200px;
}
