.infoCard_block {
    min-width: 100px;
    min-height: 100px;
    margin:5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.infoCard_date {
    display: block;
    font-family: 'Acme', sans-serif;
    font-weight: 500;
    font-size: 15px;
}

.infoCard_icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.infoCard_temp {
    display: block;
    font-family: 'Acme', sans-serif;
    font-weight: 500;
    font-size: 15px;
}

.infoCard_type {
    display: block;
    font-family: 'Acme', sans-serif;
    color: #5bffa4;
    font-weight: 400;
    font-size: 12px;
}